$background-color: #f7f9fd;

.app-header {
  background-color: $background-color;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  padding: 1rem;
}
